:root {
    --branco: #ffffff;
    --azul: #184c72;
    --verde: #63d391;
    --dark-verde:#3f865c;
    --font:"Montserrat",sans-serif;
    --cinza: #ddd;
    --dark: #202124;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    

}
.container__preview{
    color: #ddd;
}



p{
    display: none;
}

a{
    
        color: currentColor;
        text-decoration: none;
}
.container__tittle{
    margin: 2em;
    display: flex;
    justify-content: space-between;
}


.container__tittle h1{
    font-family: var(--font);
    color: var(--azul);
}

.menu__container .menu__navegacao .menu__lista{
    display: flex;
    align-items:center;
    justify-content: right;
    gap: 1em;
    margin-right: 0;
    list-style: none;
    font-weight: bold;
    color: var(--verde);
    
}
.menu__container {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1em;

}
.menu__container .dark__mode #mode__icon{
    color: var(--verde);
    
}




.menu__container .menu__navegacao .menu__lista .menu__links .menu__selected {
    background-color: var(--verde);
    color: var(--branco);
    border-width: 1px;
    border-radius: 2em;
    padding: 1em;
    font-weight: bold;
}
.menu__container .menu__navegacao .menu__lista .menu__links :hover{
    background-color: var(--verde);
    color: var(--branco);
    border-width: 1px;
    border-radius: 2em;
    padding: 1em;
    font-size: bold;
    transition: 0.5s;
    
}

.container .container__preview textarea{
    width: 100%;
    border: none;
    font-size: large;
    padding-left: 1em;
    padding-top: 2%;
    background-color: var(--branco);
    border-radius: 2em;
}





.botao__criar,.botao__finalizar{
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--verde);
    border-radius: 4em;
    padding: 0.3em 1em;
    border: none;
    color: var(--branco);
    margin: 0.5em;
}

.botao__finalizar:hover,.botao__criar:hover{
    background-color: var(--dark-verde);
    color: var(--branco);
    transition: 0.4s;
    
}

input,select,button{
    cursor: pointer;

}









#body__form{
    animation: dark-to-light 0.3s ease-in-out;
}

.dark#body__form{
    background-color: var(--dark);
    animation: light-to-dark 0.3s ease-in-out;
}
.dark#titulo__principalh1{
    color: var(--verde);
}






.dark .fa-toggle-on {
    /* Define a cor do ícone como vermelho */
    font-size: 200%; /* Define o tamanho da fonte do ícone como 24 pixels */
  }
  .fa-toggle-off{
    font-size: 200%;
  }






@keyframes dark-to-light {
    0%{
        background-color: var(--dark);
    }
    100%{
        background-color: var(--white);
    }
}
@keyframes light-to-dark{
    0%{
        background-color: var(--white);
    }
    100%{
        background-color: var(--dark);
    }
}





