.container fieldset{
    margin:5%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0.5px 0.5px 1px 0.85px var(--verde), 1px 4px 10px #000;
    border: none;
    border-radius: 3em;
    padding: 2em;

}

.container .mud__endereco__form{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    gap:1em;
    
}

.container .mud__endereco__form label{
    display: block;
    color: var(--verde);
    font-weight: bolder;
    
}
.container .mud__endereco__form input,select{
    display: flex;
    width: 80%;
    margin:2%;
    padding: 2%;
    padding-right:1em;
    border-radius: 1em;
    border: 0.5px solid var(--azul);
}
.container .mud__endereco__form .mud__endereco__antigo,.mud__endereco__novo{
    grid-column: span 4;
    display: flex;
    align-items: safe;
    justify-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
}

.container .mud__endereco__form  textarea{
  
    font-size:large;
    padding: 0.7em;
    padding-left: 1em;
    border-radius: 2em;
}

.container .container__preview textarea{
    width: 100%;
    border: none;
    font-size: large;
    padding-left: 1em;
    padding-top: 2%;
    background-color: var(--branco);
    border-radius: 2em;
}

