.form_reparo{
    
    padding-top:1rem;
    float: left;
    
    margin-top: -4rem;
    margin-left: -10rem;
    
}

p{
    display: none;
}
.container__formulario {
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 1em;
max-width: 600px;
align-items:flex;
padding-left: 1em;


}
.form-group{
    display:flex;
    flex-direction: column;
}

select,input[type="option"]{
    margin-top: 0.5rem;
    padding: 0.2rem;
}
.mascara{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5em;
    max-width: 600px;
    align-items:flex;
    padding-left: 7em;
    justify-content: center;
    margin-top: -3.5rem;
}

#textoarea{
 float: right;   
 margin-top: 10em;
 margin-left: -em;
 width: 200%;

}


.select__ping{
    display: grid;
    justify-content: left;
    float: left;

}

.conclusao{
    
}