.group select{
    margin-top: 0.5em;
    padding-right:4.3em;
    padding-top: 0.2em; 
    justify-content: center;
    align-items: center;   
}
.container__formulario1{
    grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1em;
   
}
.container__formulario2{
    grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 3;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1em;
}
.container__formulario3{
    grid-column-start: 1 ;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    
}
.container__formulario4{
grid-column-start: 1 ;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 3;
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1em;    
}
    


#texto__area{
 border: solid red;
 width: 100%;
 height: 20%;
}
#conclusao{
    width: 150%;
    
}
