


.container fieldset{
    margin:5%;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 0.5px 0.5px 1px 0.85px var(--verde), 1px 4px 10px #000;
    border: none;
    border-radius: 3em;
    padding: 2em;

}
.container .reparo__form{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
    gap:1em;
    
}
.container .reparo__onu{
display: flex;
flex-direction: column;


}


.container .reparo__form label{
    display: block;
    color: var(--verde);
    font-weight: bolder;
    margin-bottom: 3%;
}

.container .reparo__form input,select{
    display: flex;
    width: 80%;
    margin:2%;
    padding: 2%;
    padding-right:1em;
    border-radius: 1em;
    border: 0.5px solid var(--azul);
}
.container .reparo__form .endereco {
    grid-column: span 3 ;
    display: block;
    justify-content: center;
    align-items: center;
    
}
.container .reparo__form .endereco textarea {
width: 94%;
border-radius: 2em;
padding:1%;
font-weight: bold;
text-transform: uppercase;


}

.container .botao__criar{
    display: block;
    align-items:flex-start;
    width: 100%;
}
.container .reparo__conclusao {
    border-radius: 3em;
    width: 100%;
    grid-column: span 3;
    display: block;
    justify-content: center;
    align-items: center;
}

.container .container__preview{
    grid-column: span 3 ;
    display: block;
    justify-content: center;
    align-items: center;
    
}
.container .reparo__conclusao textarea{
    width: 94%;
    border-radius: 2em;
    padding:1%;
    font-weight: bold;
    text-transform: uppercase;
}

.container .container__preview textarea{
    width: 100%;
    border: none;
    font-size: large;
    padding-left: 1em;
    padding-top: 2%;
    background-color: var(--branco);
    border-radius: 2em;
}

